.interaction-with-todo {
  width: 70%;
}

.interaction-with-todo__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.interaction-with-todo__textarea {
  outline: none;
  border-radius: 0;
  width: 100%;
  resize: none;
}

.interaction-with-todo__actions {
  display: flex;
  column-gap: 10px;
}
